In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd 
import time

In [3]:
# BaseURL of Yahoo Finance website.
URL = "https://finance.yahoo.com/"
# List of companies.
Companies = ["General Motors", "Johnson & Johnson", "Jacobs", "Albemarle", "Disney", "AT&T", "American Airline","Itissalat Al-Maghrib" ]
# Start the Driver
s = Service("C:\webdriver\chromedriver.exe")
op = webdriver.ChromeOptions()
#s = webdriver.Chrome(service=s, options=op)
driver = webdriver.Chrome(service=s, options=op)
# Hit the url of Yahoo Finance and wait for 2 seconds.
driver.get(URL)
time.sleep(2)

In [16]:
# Enter name of company in searchbox, and wait for 2 seconds.
driver.find_element(By.XPATH, "//input[@placeholder = 'Search for news, symbols or companies']").send_keys("Itissalat Al-Maghrib ")
time.sleep(2)
# Click on Search icon and wait for 2 seconds.
driver.find_element(By.XPATH, "//button[@id= 'header-desktop-search-button']").click()
time.sleep(2)

In [5]:
# Driver clicks on Historical Data tab and sleeps for 2 seconds.
driver.find_element(By.XPATH,"//span[text() = 'Historical Data']").click()
time.sleep(2)

In [10]:
# Driver scrolls down three times to load the table.
for i in range(0,3):
 driver.execute_script("window.scrollBy(0,5000)")
 time.sleep(2)

In [13]:
# Fetch the webpage and store in a variable.
webpage = driver.page_source
# print the fetched webpage.
#print(webpage)
# Web page fetched from driver is parsed using Beautiful Soup.
HTMLPage = BeautifulSoup(driver.page_source, 'html.parser')
# Table is searched using class and stored in another variable.
Table = HTMLPage.find('table', class_='W(100%) M(0)')
# List of all the rows is store in a variable 'Rows'.
Rows = Table.find_all('tr', class_='BdT Bdc($seperatorColor) Ta(end) Fz(s) Whs(nw)')
# Empty list is created to store the data
extracted_data = []
# Loop to go through each row of table
for i in range(0, len(Rows)):
 try:
  # Empty dictionary to store data present in each row
  RowDict = {}
  # Extracted all the columns of a row and stored in a variable
  Values = Rows[i].find_all('td')
  
  # Values (Open, High, Close etc.) are extracted and stored in dictionary
  if len(Values) == 7:
   RowDict["Date"] = Values[0].find('span').text.replace(',', '')
   RowDict["Open"] = Values[1].find('span').text.replace(',', '')
   RowDict["High"] = Values[2].find('span').text.replace(',', '')
   RowDict["Low"] = Values[3].find('span').text.replace(',', '')
   RowDict["Close"] = Values[4].find('span').text.replace(',', '')
   RowDict["Adj Close"] = Values[5].find('span').text.replace(',', '')
   RowDict["Volume"] = Values[6].find('span').text.replace(',', '')
# Uncomment below print statement if required
   # print(RowDict) 
   # Dictionary is appended in list
   extracted_data.append(RowDict)
 except:
  # To check the exception caused for which company
  print("Row Number: " + str(i))
 finally:
  # To move to the next row
  i = i + 1
# Converted list of dictionaries to a Dataframe.
extracted_data = pd.DataFrame(extracted_data)
print(extracted_data)

Row Number: 543
Row Number: 685
Row Number: 686
Row Number: 687
Row Number: 688
Row Number: 689
Row Number: 690
Row Number: 691
Row Number: 1289
             Date   Open   High    Low  Close Adj Close Volume
0     Jan 31 2022  13.20  13.20  12.90  13.05     13.05   7582
1     Jan 28 2022  13.20  13.20  12.95  13.05     13.05   5303
2     Jan 27 2022  13.05  13.20  12.95  13.05     13.05   5538
3     Jan 26 2022  13.25  13.25  12.95  13.05     13.05   6805
4     Jan 25 2022  13.25  13.25  13.05  13.05     13.05   1968
...           ...    ...    ...    ...    ...       ...    ...
1266  Feb 08 2017  12.85  13.14  12.85  13.14      0.03   1770
1267  Feb 07 2017  13.12  13.13  13.00  13.00      0.03   2882
1268  Feb 06 2017  13.12  13.12  13.12  13.12      0.03     76
1269  Feb 03 2017  13.10  13.12  13.10  13.12      0.03    288
1270  Feb 02 2017  13.12  13.12  13.11  13.12      0.03   1034

[1271 rows x 7 columns]

In [17]:
# Driver clicks on Historical Data tab and sleeps for 2 seconds.
driver.find_element(By.XPATH,"//span[text() = 'Financials']").click()
time.sleep(2)

In [6]:
def scrap (link ):
    headers = []
    temp_list = []
    final = []
    index = 0
    #pull data from link
    webpage = link.page_source
    #structure raw data for parsing
    HTMLPage = BeautifulSoup(webpage, 'html.parser')
    #filter for items we want
    features = HTMLPage.find_all('div',class_='D(tbr)')
    
    #create headers
    for item in features[0].find_all('div', class_='D(ib)'):
        headers.append(item.text)
        
    #statement contents
    while index <= len(features)-1:
        #filter for each line of the statement
        temp = features[index].find_all('div', class_='D(tbc)')
        for line in temp:
            #each item adding to a temporary list
            temp_list.append(line.text)
        #temp_list added to final list
        final.append(temp_list)
        #clear temp_list
        temp_list = []
        index+=1
    
    df = pd.DataFrame(final[1:])
    df.columns = headers
    return df

In [20]:
# Driver clicks on Historical Data tab and sleeps for 2 seconds.
driver.find_element(By.XPATH,"//span[text() = 'Income Statement']").click()
time.sleep(2)
Income_Statement= scrap (driver )
Income_Statement

,Breakdown,ttm,12/30/2020,12/30/2019,12/30/2018
0,Total Revenue,"36,226,000","36,769,000","36,517,000","36,032,000"
1,Cost of Revenue,"5,279,000","5,416,000","5,671,000","6,010,000"
2,Gross Profit,"30,947,000","31,353,000","30,846,000","30,022,000"
3,Operating Expense,"18,957,000","19,084,000","22,522,000","18,815,000"
4,Operating Income,"11,990,000","12,269,000","8,324,000","11,207,000"
5,Net Non Operating Interest Income Expense,"-867,000","-843,000","-805,000","-490,000"
6,Pretax Income,"10,871,000","9,661,000","7,428,000","10,617,000"
7,Tax Provision,"3,708,000","3,372,000","3,830,000","3,677,000"
8,Net Income Common Stockholders,"6,281,000","5,423,000","2,726,000","6,010,000"
9,Diluted NI Available to Com Stockholders,"6,281,000","5,423,000","2,726,000","6,010,000"
10,Basic EPS,-,6.17,3.10,6.84
11,Diluted EPS,-,6.17,3.10,6.84
12,Basic Average Shares,-,"879,095","879,095","879,095"
13,Diluted Average Shares,-,"879,095","879,095","879,095"
14,Total Operating Income as Reported,"11,739,000","12,018,000","8,231,000","11,052,000"
15,Rent Expense Supplemental,-,"353,000","429,000","903,000"
16,Total Expenses,"24,236,000","24,500,000","28,193,000","24,825,000"
17,Net Income from Continuing & Discontinued Oper...,"6,281,000","5,423,000","2,726,000","6,010,000"
18,Normalized Income,"6,445,727","5,585,500","2,785,520","6,109,450"
19,Interest Income,"16,000","17,000","2,000","3,000"
20,Interest Expense,"862,000","888,000","756,000","527,000"
21,Net Interest Income,"-867,000","-843,000","-805,000","-490,000"
22,EBIT,"11,733,000","10,549,000","8,184,000","11,144,000"
23,EBITDA,"22,295,000",-,-,-
24,Reconciled Cost of Revenue,"5,279,000","5,416,000","5,671,000","6,010,000"
25,Reconciled Depreciation,"7,284,000","2,719,000","10,721,000","7,318,000"
26,Net Income from Continuing Operation Net Minor...,"6,281,000","5,423,000","2,726,000","6,010,000"
27,Total Unusual Items Excluding Goodwill,"-250,000","-250,000","-93,000","-153,000"
28,Total Unusual Items,"-250,000","-250,000","-93,000","-153,000"
29,Normalized EBITDA,"22,545,000","18,311,000","18,998,000","18,615,000"
30,Tax Rate for Calcs,0,0,0,0
31,Tax Effect of Unusual Items,"-85,273","-87,500","-33,480","-53,550"

In [9]:
# Driver clicks on Historical Data tab and sleeps for 2 seconds.
driver.find_element(By.XPATH,"//span[text() = 'Balance Sheet']").click()
time.sleep(2)
Balance_Sheet= scrap (driver )
Balance_Sheet

,Breakdown,12/30/2020,12/30/2019,12/30/2018
0,Total Assets,"64,851,000","64,851,000","62,131,000"
1,Total Liabilities Net Minority Interest,"48,162,000","48,848,000","42,641,000"
2,Total Equity Gross Minority Interest,"16,689,000","16,003,000","19,490,000"
3,Total Capitalization,"16,274,000","15,004,000","19,143,000"
4,Common Stock Equity,"12,721,000","12,069,000","15,668,000"
5,Capital Lease Obligations,"1,639,000","1,652,000",-
6,Net Tangible Assets,"-4,714,000","-5,941,000","-561,000"
7,Working Capital,"-28,173,000","-30,543,000","-24,378,000"
8,Invested Capital,"31,442,000","29,343,000","31,272,000"
9,Tangible Book Value,"-4,714,000","-5,941,000","-561,000"
10,Total Debt,"20,360,000","18,926,000","15,604,000"
11,Net Debt,"16,031,000","15,791,000","13,904,000"
12,Share Issued,"879,095","879,095","879,095"
13,Ordinary Shares Number,"879,039","878,852","878,852"
14,Treasury Shares Number,56.187,243.077,243.077

In [10]:
# Driver clicks on Historical Data tab and sleeps for 2 seconds.
driver.find_element(By.XPATH,"//span[text() = 'Cash Flow']").click()
time.sleep(2)
Cash_Flow = scrap (driver )
Cash_Flow

,Breakdown,ttm,12/30/2020,12/30/2019,12/30/2018
0,Operating Cash Flow,"15,119,000","11,088,000","15,281,000","14,520,000"
1,Investing Cash Flow,"-4,567,000","-4,219,000","-8,819,000","-8,369,000"
2,Financing Cash Flow,"-10,174,000","-5,600,000","-6,744,000","-6,501,000"
3,End Cash Position,"2,649,000","2,690,000","1,483,000","1,700,000"
4,Capital Expenditure,"-4,589,000","-4,141,000","-7,949,000","-8,075,000"
5,Issuance of Debt,"1,386,000","3,474,000","5,130,000","3,280,000"
6,Repayment of Debt,-,"-2,687,000","-4,548,000","-2,682,000"
7,Repurchase of Capital Stock,-,-,-,0
8,Free Cash Flow,"10,530,000","6,947,000","7,332,000","6,445,000"

In [24]:
Income_Statement.to_csv('Income_Statement.csv',sep=',')

In [25]:
Balance_Sheet.to_csv('Balance_Sheet.csv',sep=',')

In [26]:
Cash_Flow.to_csv('Cash_Flow.csv',sep=',')

In [12]:
extracted_data.to_csv('Historical_data_5Y.csv',sep=',')